.features {
  background-color: var(--color-background-alt);
  width: 100%;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: 100%;
  align-items: center;
  justify-content: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: white;
  padding: 3.3rem 2rem;
  transition: box-shadow 0.3s;
  height: 100%;
}

.feature:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.icon {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.icon svg {
  width: 2rem;
  height: 2rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.description {
  color: var(--color-text);
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
