.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 2rem;
  background-color: #070b11;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-primary-light);
}

.nav {
  display: none;
}

.nav a {
  color: var(--color-text-light);
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s;
}

.nav a:hover {
  color: var(--color-primary-light);
}

.downloadBtn {
  background-color: var(--color-primary-light);
  color: white;
  padding: 0.8rem 1.8rem;
  border-radius: 8px;
  transition: background-color 0.3s;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.downloadBtn:hover {
  background-color: var(--color-primary-light);
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}
