.testimonial-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.testimonial-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms, transform 500ms;
}
.testimonial-exit {
  opacity: 1;
  transform: translateX(0);
}
.testimonial-exit-active {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 500ms, transform 500ms;
}
